* {
    font-size: 10px;
}
body {
    margin: .5em;
    background-color: #303633;
    color: #83E8BA;
}
main {
    margin: .5em;
}
div {
    margin: 1em 0;
}
header  {
    text-align: center;
    border-bottom: .5em solid #3590F3;
}
header h2, header a{
    color: inherit;
}
header ul {
    list-style-type: none ;
}
a:hover {
    text-decoration: none;
    color: #3590F3;
}
h2 {
    color: #3590F3;
}
img {
    width: 15px;
}
@media (min-width: 768px) {
    * {
        font-size: 13px;
    }
    h1 {
        font-size: 4em;
    }
    main, body {
        margin: 1em;
    }
    div {
        margin: .5em 0 0 0;
    }

}
