body{
    font-family: "Comic Sans MS", sans-serif;
    background-color: #463F3A;
    color: #F4F3EE;
}
#map {
    width: 100%;
    height: 600px;
}
.popup {
    color: black;
}

.popup a {
    text-decoration: navajowhite;
}
img{
    margin-top: 8px;
    width: 100%;
    height: 75px;
}
