@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire|neon|outline|emboss|shadow-multiple");
body {
    background-image: url(/img/tech.jpg);
    background-blend-mode: lighten;
    font-family: sans-serif;
    font-size: 18px;
    color: #FEF9EF;
}
header {
    text-align: center;
}
h1, h2 {
    color: #FEF9EF;
    text-decoration: underline;
}
main h1 {
    text-align: center;
}
ul {
    list-style-type: square;
}
table {
    font-size: 15px;
    padding: 30px;
    width: 35%
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
a {
    color: #FEF9EF;
    text-decoration: none;
}
a:hover {
    color: black;
}