html, body {
    background-color: darkblue;
    background-image: url(/img/tech.jpg);
    background-blend-mode: lighten;
    font-family: "Trebuchet MS", sans-serif;
    color: #eeeeee;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
}
form {
    background-color: #658aab;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.about{
    background-color: orange;
    display: flex;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 30px;
}
.about h1 {
    flex-basis: 100%;
}
.about label {
    width: 80px;
}
.about input, .about textarea {
    width: 40%;
    border: none;

}
.input {
    flex-basis: calc(100% - 80px);
}
