* {
    /*font-family: "Comic Sans MS", sans-serif;*/
}

body {
    position: relative;
    height: 100%;
    background-size: cover;
}
.main-info {
    flex-direction: column;

}
#city_name{
    text-align: center;
}
.right-info {
    flex-direction: column;
}

.card {
    border-radius: 10px;
    border: 2px solid #28688C;
    background-size: cover;
}

#map {
    margin-top: 4em;
    width: 100%;
    height: 300px;
    border: 3px solid #28688C;
    border-radius: 10px;
}
.clear-day {
    background: linear-gradient(0deg, rgba(201, 246, 255, 1) 0%, rgba(151, 235, 244, 1) 25%, rgba(122, 229, 245, 1) 50%, rgba(101, 221, 239, 1) 75%, rgba(53, 214, 237, 1) 100%) no-repeat;
}
.nightTime {
    color: white;
    background: linear-gradient(0deg, rgba(1, 66, 109, 1) 0%, rgba(0, 58, 99, 1) 20%, rgba(1, 49, 85, 1) 40%, rgba(0, 39, 70, 1) 60%, rgba(0, 29, 55, 1) 80%, rgba(1, 22, 46, 1) 100%) no-repeat;
}

.cloudy {
    background: linear-gradient(0deg, rgba(211, 211, 211, 1) 0%, rgba(158, 158, 158, 1) 45%, rgba(105, 105, 105, 1) 100%) no-repeat;
}
.rain {
    background: linear-gradient(0deg, rgba(64, 108, 148, 1) 0%, rgba(99, 147, 164, 1) 25%, rgba(98, 148, 154, 1) 50%, rgba(76, 105, 114, 1) 75%, rgba(197, 240, 247, 1) 100%) no-repeat;
}
.snow {
    background: linear-gradient(0deg, rgba(224, 255, 255, 1) 0%, rgba(255, 250, 250, 1) 35%, rgba(192, 246, 251, 1) 68%, rgba(147, 231, 251, 1) 100%) no-repeat;
}

@media (min-width: 768px) {
    body {
        background-color: #ECE5F0;
    }
    .main-info {
        flex-direction: row;
        align-items: center;
        margin-top: 1em;
    }
    #city_time {
        align-self: flex-start;
    }

    #curr-temp {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
    .curr-options{
        align-items: flex-start;
    }
    .card {
        width: 100%;
    }
    .carousel-item {
        width: 100%;
    }
    .carousel-inner {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    #main-div {
        height: 34vh;
        width: 100%;
    }

    .main-info {
        margin: .5em ;
        flex-direction: row;
    }

    #city_time {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    #curr-temp h5 {
        font-size: 30px;
    }

    .right-info {
        margin-top: 1em;
        align-items: flex-start;
    }

    #weather-cards {
        width: 100%;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: 16%;
    }

    img {
        width: 50px;
    }

    #map {
        margin-top: 4em;
        width: 100%;
        height: 500px;
        border: 3px solid #28688C;
        border-radius: 10px;
    }

    #input {
        visibility: hidden;
    }
}
@media (min-width: 1440px) {
    #curr-temp h5 {
        font-size: 40px;
    }
}
