@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire|neon|outline|emboss|shadow-multiple");
body {
    background-color: darkblue;
    background-image: url(/img/tech.jpg);
    background-blend-mode: lighten;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
header {
    text-align: center;
}
footer {
    text-align: center;
}
h1, h2 {
    color: #FEF9EF;
    text-decoration: underline;
}
main h1 {
    text-align: center;
}
ul {
    list-style-type: square;
}
table {
    font-size: 15px;
    padding: 30px;
    width: 35%
}
table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 6px;
}
a {
    color: #FEF9EF;
    text-decoration: none;
}
a:hover {
    color: black;
}
.images {
    margin: 0 auto;
    text-align: center;
}
.images img {
    width: calc(25% - 8px)
}